@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
header{
	padding: 7.5px 0;
    background-color: #fff;
    overflow: hidden;
}
/*大屏*/
.neikuan{
	width: 1170px;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.neikuan:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.head{
	margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.headbox{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.headbox .logo{
	display: block;
	float: left;
    margin-top: 13.5px;
    width: 180px;
}
.headbox .logo img{
    width: 100%;
}
.login{
	float: right;
    position: relative;
    padding: 27.5px 0;
    box-sizing: border-box;
}
.login a{
	text-decoration: none;
	font-size: 16px;
    color: #333;
    float: left;
    font-weight: 400;
}
.login a:hover{
	color: #ff8000;
}
.login span{
	display: inline-block;
    margin: 0 10px;
    float: left;
}
.serch{
	float: right;
	/*width: 228px;*/
    margin-right: 40px;
    padding: 22.5px 0;
    box-sizing: border-box;
}
.control{
	/*width: 156px;
    height: 18px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.fromgroup{
	overflow: hidden;
	float: left;
}
.btn{
	width: 13px;
	height: 22px;
	padding: 4px 15px;
    line-height: 20px;
    color: #fff;
    background-color: #f93;
    border-color: #f93;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 0;
    float: left;
    margin-left: 5px;
}
.btn i{
	display: inline-block;
   
}
.btn:hover{
	color: #fff;
    border-color: #ffb366;
    background-color: #ffb366;
}
nav{
    margin-bottom: 0;
    border: none;
    background-color: #333; 
    min-height: 50px;
}
.nav-first{
    float: left;
    margin-left: 4px;
    border-color: #333;
    position: relative;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    display: none;
}
.nav-first span{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color:#fff;
    margin-top:4px;

}
.Maindh{
    padding: 0;
    border-left: 1px solid #222;
    border-right: 1px solid #444;
}
.Maindh .navbar{
    border-left: 1px solid #444;
    float: left;
}
.Maindh .navbar .active a{
    display: block;
    color: #ff8000;
    background-color: #000;
    padding: 15px 30px;
    line-height: 20px;
    font-size: 18px;
}
.Maindh .navbar li{
    position: relative;
    float: left;
}
.Maindh .navbar li .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    /*margin: 2px 0 0;*/
    list-style: none;
    font-size: 14px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #eee;
}
.Maindh .navbar li .dropdown-menu li{
    width: 100%;
    height: 100%;
}
.Maindh .navbar li .dropdown-menu a{
    display: block;
    padding: 8px 30px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}
.Maindh .navbar li .dropdown-menu a:hover{
        background-color: #fafafa;
        color: #333;
}
.Maindh .navbar li a{
    display: block;
    padding: 15px 30px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
}
.Maindh .navbar .xiala:hover .biaoti{
    color: #ff8000;
    background-color: #000;
}

.Maindh .subnav{
    float: left;
    border-right: 1px solid #222;
    /*width: 302px;*/
}
.Maindh .subnav li{
    position: relative;
    float: left;
}
.Maindh .subnav li a{
    display:block;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 15px 30px;
}
.Maindh .subnav li a:hover{
    color: #ff8000;
    background-color: #000;
}
.banner{
    margin-bottom: 40px;
    padding-bottom: 20px;
    background: #ebebeb;
    background-size: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #fefefe;
}
.row{

    /*max-width: 1170px;*/
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.bannerText{
    width: 50%;
    padding-top: 30px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.bannerText h1{

    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
}
.bannerText p{
    margin: 0 0 10px;
    color: #999;
}
.bannerText .textdownload{
    margin-top: 30px;
}
.bannerText .textdownload p{
    font-size: 20px;
    color: #0a6531;
}
 .bannerText .textdownload p a{
    font-size: 14px;
    text-decoration: underline;
    color:#ff8000;
 } 
 .bannerText .textdownload p a:hover{
    color: #ffb366;
 } 
 
  .bannerText .textdownload .xiazai{
    margin-bottom: 10px;
    width: 350px;
    font-size: 18px;
    letter-spacing: 5px;
    background-color: #13a751;
    padding: 10px 16px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
     border-color: #29b765;
    white-space: nowrap;
    box-sizing:border-box;
  }
  .bannerText .textdownload .xiazai:hover{
    background-color: #108541;
  }
  .bannerText.select{
    padding-top: 3px;
  }
  .bannerText .select h1{
    font-size: 18px;
    font-weight: 400;
  }
  .bannerText .select .selectbrands{
    margin-bottom: 10px;
    display: inline-block;
  }
  .bannerText .select .selectbrands .brandsBox{
    width: 220px;
    height: 34px;
    border-color: #ddd;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    float: left;
    box-sizing:border-box;
  }
  .bannerText .select .selectbrands .selectxinghao{
    margin-left: 10px;
  }
  .bannerText .help a{
    color: #0084bb;
    text-decoration: underline;
    font-size: 14px;
  }
  .bannerimg{
    width: 50%;
    float: left;
    padding: 50px 15px 30px;
  }
  .bannerimg .imagebox{
    width: 503px;
    height: 318px;
    background-color: #000;
    background-image: url(../img/bannerbox.png);
    background-repeat: no-repeat;
  }
  .bannerimg .imagebox .screenhot{
    position: relative;
  }
  .bannerimg .imagebox a{
    display: block;
  }
  .bannerimg .imagebox a img{
    position: absolute;
    top: 5px;
    left: 4px;
    width: 495px;
    height: 280px;
    z-index: 1;
    opacity: 1;
  }
.cp{
    width:66.66666666666666%;
    float: left;
}
.produc{
    padding: 20px 20px 5px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.produc h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.col-lg-6{
    width: 50%;
}
.products-item{
    margin: 15px 0;
    width: 50%;
    float: left;
    line-height: 20px;
    color: #333;
    box-sizing: border-box;
}
.products-item a{
    display: block;
}
.products-item a img{
    float: left;
    width: 110px;
    height: 110px;
}
.products-info{
    margin-left: 120px;
}
.products-info a:hover{
    color: #000;
    text-decoration: underline;
}
.products-info h3{
   margin: 0 0 5px;
    font-size: 18px;
    color: #000; 
}
 .products-info .product-item-desc{
    margin-bottom: 8px;
    height: 60px;
    line-height: 20px;
    color: #999;
    overflow: hidden;
 }
 .products-info .download{
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #ffb366;
    margin-right: 5px;
 }
 .products-info .download:hover{
        color: #ffb366;
        text-decoration: underline;
 }
 .products-info .download span{
    display: inline-block;
    /*overflow: hidden;*/
    color: #333;
 
 }
 .guanzhu{
    width: 33.33333333333333%;
    float: left;
 }
.contact{
    margin-bottom: 5px;
}
.element{
    padding: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.element img{
    float: left;
    width: 100px;
    height: 100px;
}
.element-text{
    margin-left: 115px;
    padding-top: 5px;
}
.element-text span{
    display: block;
    margin-bottom: 8px;
}
.element-text .qun{
    display: inline-block;
}
.element .qqgroup a{
    display: inline-block;
    width: 99px;
    height: 17px;
    margin-top: 0;
}
.element .qqgroup a .qq{
    display: inline-block;
    width: 99px;
    height: 20px;
    line-height: 20px;
}
.weibogroup{
    float: none;
}
.contact-element-weibo{
    margin-bottom: 0;
    line-height: 20px;
    float: left;
}
.weibo{
    width: 62px;
    height: 22px;
    text-decoration: none;
     background-image:url(../img/bg_flbtn.png);
     background-repeat: no-repeat;
    background-position: -63px -23px;
     color: #FFF;
     cursor: pointer;
     display: inline-block;

}
.guanzhu a{
    display: block;
    width: 100%;
/*    margin-top:21px;*/
}
 .guanzhu a img{
    width: 100%;
 }
 .guanggao{
    width: 100%;
    margin-top: 20px;
    /*margin-bottom: -20px;*/
    overflow: hidden;
 }
 .recommend:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
 }
 .recommend-head{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
 }
.recommend-head h2{
    display: inline-block;
    margin: 0;
    font-size: 20px;
}
 .recommend-head .dianji{
    color: red;
}
.recommend-head .xiazai{
    color: red;
    line-height: 15px;
}
 .recommend-head .more{
        padding-top: 8px;
        float: right!important;
        color: #ff8000;
 }
 .recommend-head .more .gd{
    font-size: 12px;
 }
.list-style li{
    float: left;
}
.app{
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    position: relative;
    background-color: #fafafa;
}
.app:hover .app-text{
    opacity: 1;
}
.app a{
    display: block;
    padding: 6px;
    text-align: center;
}
.app a img{
     width: 128px;
    height: 128px;
    margin: 0 5px;
}
.app a .title{
    padding: 9px;
    color: #333;
    padding-bottom: 0;
}
.app a .title h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.app-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6px;
    background-color: #fafafa;
    opacity: 0;
    transition: opacity .3s ease-in-out 0s;
}
.app-text a{
    display: block;
    padding: 0;
    text-align: left;

}
.app-text a span{
    display: block;
}
.app-text a .app-title{
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff8000;
}
.app-text a .app-block-promo{
    height: 80px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    overflow: hidden;
}
.app-text a .app-rating{
    line-height: 36px;
}
.app-text a .app-rating i{
    display: inline-block;
}
.app-text a .app-rating .star{
    color:  #ff8000;
}
.app-text .app-detail{
    display: block;
    text-align: center;
}
.app-text .app-detail a.xqbtn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    color: #fff;
    background-color: #2ecc71;
    border-color: #29b765;
}
.pull-right{
    color: #fff;
    border-color: #ffb366;
    background-color: #ffb366;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0;
    float: right!important
}
.jiesha{
    width:  66.66666666666666%;
}
.jszn{
    margin: 20px 0;
    border: none;
    box-shadow: none;
}
.jszn-head{
    padding: 20px 0;
    border: none;
    background: 0 0;
    color: #333;

}
.jszn-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.jszn-head small{
    float: right;
}
.jszn-head small a{
    display: block;
    color: #999;
    /*padding-top: 5px;*/
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    box-sizing:border-box;
}
.jszn-head small a .duo{
    font-size: 14px;
}
.jszn-body{
    padding: 30px 15px;
    border: 1px solid #ddd;
}
.jszn-body:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.jszn-articles-left{
    float: left;
    width: 46%;
}
.articles-list{
    margin-bottom: -5px;
    padding-left: 0;
    list-style: none;
}
.articles-list:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
}
.item-model-1{
    margin-bottom: 15px;
    overflow: hidden;
}
.item-model-1 a h3{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-model-1 a h3:hover{
    color:#ffb366;
}
.item-context img{
    float: left;
    width: 165px;
}
.item-text{
    margin-left: 175px;
}
.item-text p{
    position: relative;
    margin-bottom: 0;
    height: 80px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
    overflow: hidden;
}
.item-text a{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    color: #666;
    background-color: #fff;
}
.item-text a:hover{
    text-decoration: underline;
}
.item-model-3{
    position: relative;
    margin-bottom: 4px;
}
.item-model-3 span{
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    /*margin-top: -1.5px;*/
    width: 3px;
    height: 3px;
    background-color: #999;
}
.item-model-3 a{
    display: block;
    margin-left: 20px;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-model-3 a:hover{
    text-decoration: underline;
}
.jszn-articles-right{
     margin-left: 51%;
}
.item-model-2{
    display: inline-block;
    margin-bottom: 17px;
    margin-right: 15px;
}
.item-model-2 a{
    display: block;
    position: relative;
}
.item-model-2 a .item-img{
    width: 165px;
    height: 119px;
    overflow: hidden;
}
.item-model-2 a .item-img img{
    width: 100%;
}
.item-model-2 a span{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 3px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-model-2:nth-child(2n){
    margin-right: 0;
}
.tuijian{
    width: 33.33333333333333%;
    float: left;
}
.sbtj{
    margin: 20px 0;
    border: none;
    box-shadow: none;
    background-color: #fff;
}
.sbtj .jszn-body{
    padding: 19px 15px;
}
.nav-tabs{
    border-bottom: 1px solid #ddd;
}
.nav-tabs:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
}
.nav-tabs li{
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}
.nav-tabs li a{
    display: block;
    margin-right: 20px;
    padding: 5px 0;
    color: #333;
    border: none;
    border-bottom: 3px solid transparent;
} 
.nav-tabs li.active a{
    color: #00a8f6;
    border-bottom-color: #00a8f6;
}
.tab-pane{
    padding: 19px 0 0 5px;
    /*display: none;*/
}
.tab-pane:nth-child(2){
    display: none;
}
/*.tab-pane.active{*/
    /*display: block;*/
/*}*/
.devices-list,.devices-list2{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.devices-list li{
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}
.devices-list li:last-child{
    margin-bottom: 0;
    border-bottom: 0;
}
.devices-list li.active{
    height: auto;
}
.devices-list li:before{
    content: "";
    display:block;
    width: 0;
    height: 0;
    clear: both;
}
.devices-list li .devices-title{
    display: block;
    margin: 0;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}
.devices-list li .devices-title:before{
    content: "";
    display:block;
    width: 0;
    height: 0;
    clear: both;
}
.devices-list li .devices-title .rank-item1-1{
    color: #fff;
    background-color: red;
}
.devices-list li .devices-title span{
      float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;

}
.devices-list li .devices-title h3{
    float: left;
    margin: 0 0 10px 10px;
    width: 70%;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
} 
.rank-item-price{
     float: right;
    width: auto;
    height: auto;
    font-size: 14px;
    color: red;
    background: 0 0;
}
  .rank-content {
    margin-bottom: 10px;
    padding-left: 30px;
    overflow: hidden;
      display: none;
  }
  .rank-content:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
  }
  .rank-content .rank-img{
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
  }
  .rank-content .rank-img img{
    width: 100%;
    max-width: 240px;
    vertical-align: middle;
  }
 .rank-content .rank-text{
    margin-left: 110px;
  }
 .rank-content .rank-text p{
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    color: #999;
    margin: 0 0 10px;
    overflow: hidden;
 }
 .rank-item1-2{
    color:#fff;
    background-color: #f60;
 }
 .rank-item1-3{
    color: #fff;
    background-color: #f93;
 }
 .devices-list li .rank-item1-4{
    background-color: #e6e6e6;
 }
  .rank-content .rank-text .btnchakan{
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #00a8f6;
    border-color: #00a8f6;
    float: right!important;
  }
  .content{
    width: 100%;

  }
  .index-hot{
    margin-bottom: 40px;
  }
  .hot-head{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
   .hot-head h2{
    margin: 0;
    font-size: 20px;
   }
.hot-item{
    margin: 15px 0;
    height: 250px;
    border: 1px solid #ddd;
}
.hot-item img{
    width: 100%;
    height: 100%;
}
.hot-title{
    margin: 0 10px;
    padding: 0 5px;
    line-height: 47px;
    font-size: 16px;
    color: #000;
    border-top: 1px solid #ddd;
}
.hot-item a{
    display: block;
}
.hot-item a:hover{
    text-decoration: underline;
}
.clear{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.hot-title img{
    margin-top: 6px;
    float: right!important;
    width: 39px;
    height: 34px;
}
 footer{
    padding-top: 1px;
    border-top: 1px solid #ddd;
 }
 .footer-maps{
    padding: 30px 0;
    background-color: #f0f0f0;
 }
 .col-lg-12{
    width: 100%;
 }
 .col-lg-12:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
 }
.code{
    float: left;
    margin-right: 60px;
    padding: 0 80px;
    text-align: center;
    border-right: 1px solid #ddd;
 }
 .code img{
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
 }
 .code p{
    margin: 0 0 10px;
 }
.maps-block{
    float: left;
    width: 155px;
}
dt a h2{
    margin-top: 0;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
}
dd a{
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.footer-links{
     padding: 15px 0;
    font-size: 12px;
    color: #666;
    background-color: #303031;
}
.col-lg-8{
    width: 66.66666666666666%;
    float: left;
}
.footer-friends-links{
    text-align: left;
}
.footer-friends-links h2{
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-friends-links p a{
    color: #666;
    line-height: 20px;
}
.col-lg-4{
    width: 33.33333333333333%;
    float: left;
}
.about-links{
        text-align: right;
}
.about-links p{
    margin-bottom: 5px;
}
.about-links p a{
    display: inline-block;
    color: #666
}
.about-links p .mute{
    display:inline-block;
}
.footer-links a:hover{
    text-decoration: underline;

}
@media screen and (min-width: 1200px){
      .Maindh .subnav{
      
        width: 302px;
    }
    .col-lg-3{
        width: 25%;
        float: left;
    }
}
@media screen and (max-width: 1200px){
    .neikuan{
        width: 970px;
    }
    .Maindh .navbar .active a{
        padding: 15px 20px;
    }
    .Maindh .navbar li a{
    padding: 15px 20px;
    }
    .Maindh .subnav{
      
        width: 242px;
    }
     .Maindh .subnav li a{
    padding: 15px 20px;
    }
    .col-md-6{
        width: 50%;
    }

    .bannerimg .imagebox{
        width: 455px;
        height: 288px; 
        background:url(../img/col-md-bannerbox.png);
        background-repeat: no-repeat;
    }
    .bannerimg .imagebox a img{
        width: 449px;
        height: 254px;
    }
    .bannerText h1{
        font-size: 32px;
    }
    .produc{
        padding:15px 15px 0;
    }
    .guanzhu a{
        margin-top:21px;
    }
     .products-info .download1{
        display: none;
    }
    .products-item a img{
        float: left;
        width: 100px;
        height: 100px;
    }
    .products-info{
        margin-left: 110px;
    }
    .products-info .product-item-desc{
        margin-bottom: 0;
    }
    .maps-block{
        width: 115px;
    }
    .col-lg-2{
        width: 16.666666%;
    }
    .app a img{
        width: 100px;
        height: 100px;
    }
    .col-lg-8{
        width: 66.666666%;
    }
   .item-model-2 a .item-img{
        width: 140px;
        height: 101px;
    }
    .item-model-2{
        margin-right: 2px;
        margin-bottom: 37px;
    }
    .col-lg-3{
        width: 25%;
        float: left;
    }
    .hot-item{
        height: 211px;
    }
    .Maindh .navbar li .dropdown-menu a{
        padding: 8px 20px;
    }
    .app-text a .app-block-promo{
        height: 60px;
    }
    .app-text a .app-rating{
        font-size: 12px;
        line-height: 28px;
    }
    .app-text a .app-rating .star{
        font-size: 12px;
    }
}
/*中屏*/
@media screen and (max-width: 992px){
	.neikuan{
		width: 750px;
	}
     .Maindh .navbar .active a{
        padding: 15px 8px;
    }
    .Maindh .navbar li a{
    padding: 15px 8px;
    }
     .Maindh .subnav li a{
    padding: 15px 8px;
    }
	.Maindh .subnav{
      
        width: 190px;
    }
    .bannerText {
        text-align: center;
    }
    .bannerimg{
       display: none;
    }
    .col-md-12{
        width: 100%;
    }
    .contact{
    margin-bottom: 17px;
    }
   /* .products-info {
    margin-left: 110px;
    }*/
 .products-info .download1{
    display: none;
 }
  .guanzhu{
  display: none;
 }
.products-item a img{
    float: left;
    width: 110px;
    height: 110px;
}
.products-info{
    margin-left: 120px;
}
.products-info .product-item-desc{
    margin-bottom: 8px;
}
 .maps-block{
    width: 90px;
}
.code{
    margin-right: 40px;
    padding: 0 40px;
 }
.col-md-3 {
    width: 25%;
}
 .app a img{
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.tuijian{
    display: none;
}
 .hot-item{
        height: 315px;
 }
 .col-md-6{
    width: 50%;
    float: left;
 }
.Maindh .navbar li .dropdown-menu a{
        padding: 8px;
    }
.app-text a .app-block-promo{
        height: 80px;
    }
.app-text a .app-rating{
    line-height: 36px;
}
}
/*小屏*/
@media screen and (max-width: 768px){
	header{
       padding-bottom: 10px;
    }
    .neikuan{
        width: 100%;
    }
    .headbox .logo{
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .serch{
        float: left;
        margin: 0;
        padding: 22.5px 0;
    }
    .nav-first{
        display: block;
    }
    .Maindh .navbar .active{
        display: none;
    }
    .Maindh .navbar li a{
        display: none;
    }
    .Maindh .subnav li a{
        display: none;
        padding: 10px 30px;
    }
    .col-sm-12{
        width: 100%;
    }
    .bannerText {
        text-align: center;
    }
    .bannerText .select{
        text-align: left;
    }
    .bannerText .help{
        text-align: left;
    }
    .guanzhu{
        display: none;
    }
    .col-sm-12{
        width: 100%;
    }
    .about-links{
        text-align: center;
    }
    .code {
        float: none;
        margin-right: 0;
        padding: 0;
        text-align: center;
        border-right: none;
    }
 .maps-block{
    width: 33%;
     height: 150px;
}
/*  .guanggao{
    display: none;
}*/
.col-sm-12{
    width: 100%;
}
.products-info .download2{
display: none;
}
.recommend-head .dianji{
    display: none;
}
.col-sm-6 {
    width: 50%;
}  
.app a img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
}
.app{
    margin: 0 auto 20px;
    width: 130px;
}
.jszn-articles-left{
    width: 100%;
}
.item-context{
    text-align:center;
}
.item-context img{
    float: none;
    width: 165px;
}
.item-text p{
    display: none;
}
.jszn-articles-right{
    margin-left: 0

}
.item-model-2{
    margin-right: 0;
    display: inline-block;
    margin-bottom: 17px;
}
.item-model-2 a .item-img{
        width: 165px;
        height: 119px;
        overflow: hidden;
    }
.articles-list.sm-center{
        text-align: center;
    }
.tuijian{
    display:block;
    width: 100%;
}
.hot-item{
    height: auto;
}
 .app-text a .app-block-promo{
        height: 60px;
    }
.app-text a .app-rating{
        font-size: 12px;
        line-height: 28px;
}
}