@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
header{
	width: 100%;
	/*height: 10px;*/
	border-bottom: 1px solid #ddd;
    background-color: #e3e4e5; 
}
.neikuan{
	width: 1190px;
	margin: 0 auto;
	position: relative;

}
.hd-nav{
	width: 1190px;
	margin: 0 auto;
	height: 30px;
    line-height: 30px;
    color: #999;
   

}
.stress{
	float: left;
}

.hd-nav .stress li{
	margin-left: 200px;
    /*background-color: black;*/
    padding-left: 7px;
     padding-right: 7px;
    position: relative;
}
.hd-nav .stress li:hover{
    background-color: #fff;
   box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
.hd-nav .stress li .cl{
    color: red;
    padding: 0;
}
.hd-nav .stress li i{
	/*padding-left: 7px;*/
	/*padding-right: 7px;*/
}
.hd-nav .stress li .csBox{
    position: absolute;
    top:30px;
    left: 0;
    width: 300px;
    padding:10px;
    z-index: 10;
    display: none;
    line-height: 24px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
.item{
    float: left;
    width: 60px;
    padding: 2px 0;
    overflow: hidden;
}
.csBox .item a{
    float:left;
    padding:0 8px;
    color:#999;
}
.csBox .item a:hover{
    color: #c81623;
    background-color: #f4f4f4;
}
.csBox .item .selected{
    background-color: #f10215;
    color:#fff;
}
.navbox{
	float: right;
}
/*.hd-nav .navbox li{
	float: left;
}*/
.hd-nav .navbox li:first-child{
	margin-right: 8px;
	/*background: red;*/
	float: left;
}
.hd-nav .navbox li:first-child a{
	    font-family: verdana\,simsun;
	    color: #999;
	    padding: 0;
	   
}
.hd-nav .navbox li:first-child .zc{
	color: #f10215; 
}
.hd-nav .navbox .fengexian{
	
	overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.hd-nav .navbox li{
	float: left;
    /*border: 1px solid #e3e4e5;*/

}
.hd-nav .navbox li a{
	display: inline-block;
	padding-left: 7px;
    padding-right: 7px;
	color: #999;
}
.hd-nav .navbox .xialaItem{
    position: relative;
}
.hd-nav .navbox li .Myjd{
    position: absolute;
    top:30px;
    width: 280px;
    color: #999;
    line-height: 24px;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    z-index: 10;
    display: none;
    border-top:0;

}
.Myjdlist{
    padding: 10px 0 10px 15px;
    overflow: hidden;
}
.info1{
    float: left;
    width: 126px;
    line-height: 24px;
}
.items{
    width: 100%;
}
.info2{
    float: left;
    width: 126px;
}
.Myjdlist2{
    border-top: 1px solid #f1f1f1;
}
.navbox .xialaItem:hover{
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
.hd-nav .navbox .xialaItem .khfw{
    position: absolute;
    right: 0;
    top:30px;
    width: 170px;
    padding:10px 0;
    line-height: 24px;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    z-index: 10;
    display: none;
    border-top:0;
}

.khfw .items{
    display: inline;
    width: 70px;
    padding-left: 15px;
}
.item-client{
    padding-left: 15px;
    font-weight: bold;
    color: #666;
}
.item-business{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #eee;
    padding-left: 15px;
    font-weight: bold;
    color: #666;
}
.hd-nav .navbox li a:hover{
	color: #f10215;
}
.hd-nav .navbox li a:last-child{
	position: relative;
}
.hd-nav .navbox .xialaItem .wzdh{
    position: absolute;
    top:30px;
    width: 1188px;
    /*height: 200px;*/
    padding: 15px 0;
    background: #fff;
    z-index: 20;
    right: -73px;
}
.hd-nav .navbox .xialaItem .wzdh dl{
    width: 340px;
    float: left;
    padding-left: 20px;

}
.hd-nav .navbox .xialaItem .wzdh dl dt{
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}
.hd-nav .navbox .xialaItem .wzdh dl dd .items{
    overflow: hidden;
    float: left;
    width: 85px;
    white-space: nowrap;
}
.hd-nav .navbox .xialaItem .wzdh .info2{
    float: left;
    width: 255px;
    padding-left: 20px;
    border-left: 1px solid #eee;
}
.hd-nav .navbox .xialaItem .mobile_static{
    position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
}
.mobile_pop:before, .mobile_static:before {
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.hd-nav .navbox .xialaItem .mobile_static .mobile_static_qrcode{
        margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6 url(../img/erweima.jpg) 50% no-repeat;
}
.hd-nav .navbox .xialaItem .sjewm{
    display: none;
    position: absolute;
    left: auto;
    right: -10px;
    top: 30px;
    width: 190px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-bottom: 3px solid #60575a;
    height: 322px;
    box-sizing:border-box;
    z-index: 666;
}
.hd-nav .navbox .xialaItem .sjewm:before{
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    border-color: #e4e4e4 #e4e4e4 #fff;
    left: 154px;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
}
.hd-nav .navbox .xialaItem .sjewm .sjewm-item1{
    position: relative;
    z-index: 5;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;
    height: 77px;
}
.hd-nav .navbox .xialaItem .sjewm .sjewm-item1 .ewmImg{
    position: absolute;
    left: 5px;
    top: 14px;
    width: 74px;
    height: 74px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}
.hd-nav .navbox .xialaItem .sjewm .sjewm-item1 .ewmImg img{
    width: 70px;
    height: 70px;
    margin: 2px 0 0 2px;  
}
.hd-nav .navbox .xialaItem .sjewm .sjewm-item1 .ewminfo1{
    margin: 0 10px 0 86px;
    min-height: 70px;
}
.hd-nav .navbox .xialaItem .sjewm .sjewm-item1 .ewminfo1 .mobile_pop_tit{
    font-size: 11px;
    line-height: 17px;
    color: #666 !important;
}
.mobile_pop_tit a{
    color:#666!important;
}
.mobile_pop_value {
    margin: 3px 0;
    line-height: 14px;
    color: #F10214;
    font-size: 11px;
}
.mobile_pop_device {
    overflow: hidden;
    height: 25px;
}
.mobile_pop_device_lk {
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    text-indent: -999px;
    background-image: url(../img/sprite_mobile@1x.png);
    background-repeat: no-repeat;
    padding-left: 0!important;
    padding-right: 0!important;
}
.mobile_pop_device_ios { 
    background-position: 0 0;
}
.mobile_pop_device_and{
    background-position: 0 -26px;
}
.mobile_pop_device_pad{
    background-position: 0 -52px;
}
.head{
	width: 100%;
}
.head .neikuan{
	height: 140px;
}
.logo{
	position: absolute;
	left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
}
.logo a{
	display: block;
	overflow: hidden;
    display: block;
    width: 190px;
    height: 170px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}
.serchArea{
	width: 100%;
	height: 60px;
	position: relative;
}
.serch{
	width: 550px;
    height: 35px;
    position: absolute;
    top:25px;
    left: 320px;

}
.serchBox{
	/*position: absolute;
	left: 0;*/
    padding: 4px;
    width: 490px;
    height: 26px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
    font-family: 微软雅黑;
    float: left;

}
input[type=text]:focus{
    outline:1px solid red;
}
.button{
	width: 50px;
    height: 35px;
    border: none;
    background-color: #f10215;
    font-weight: 700;
    color: #fff;
    float: left;
}
.sousuo{
    font-size: 28px;
    margin-left: 11px;
    line-height: 40px;
}
.che{
    color: red;
}
.gwc{
	position: absolute;
    right: 99px;
    top: 25px;
	width: 188px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    float: left;
    border: 1px solid #e3e4e5;
    /*margin-left: 50px;*/
}
.gwc span{
	color: #f10214;
}
/*.erweima{
	position: absolute;
	top:0;
	right: 0;
	margin: 4px auto;
    width: 58px;
    height: 58px;
    background: #f6f6f6 url(../img/erweima.jpg) no-repeat;
    border:1px solid #999;
    z-index: 12;
}*/
.hotwords{
	overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
.hotwords a:first-child{
	color: #f10215;
	margin-right: 10px;
	float: left;
}
.hotwords a{
	color: #999;
	margin-right: 10px;
	float: left;
	white-space: nowrap;
}
.hotwords a:hover{
	color: #f10214; 
}
.navitems{
	overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;

}
.navitems ul{
	float: left;
}
.navitems ul li{
	margin-left: 30px;
	float: left;
	font-size: 14px;
}
.navitems ul li a{

    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.navitems ul li a:hover{
    color: #c81623;
}
.spacer{

	overflow: hidden;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    float: left;
}
.treasure{
	position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 40px;
}
.treasure a{
	display: block;
    width: 190px;
    height: 40px;
    background: url(../img/bannerbjlj.png) center no-repeat;
}
.bannerBox{
	position: relative;
	margin-bottom: 10px;
    background: url(../img/bannerbj.png) no-repeat 50% 0;
    height: 480px;
    background-color: #f6f6f6;
}
.banner{
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	margin: 0 auto;
    overflow: hidden;

}
.bannerNav{
    width: 190px; 
    height: 100%;
    margin-right: 10px;
	float: left;
    position: relative;
}
.bannerNav ul{
	overflow: hidden;
    padding: 15px 0;
    height: 450px;
    background-color: #6e6568;
    color: #fff;
}
.bannerNav ul li{
	overflow: hidden;
    padding-left: 12px;
    height: 30px;
    font-size: 0;
}
.bannerNav ul li:hover{
    background: #999395;
}
.bannerNav ul li a{
	font-size: 14px;
    color: #fff;
}
.bannerNav ul li span{
    padding: 0 4px;
    font-size: 12px;
}
.bannerNav ul li a:hover{
    color:#c81623;
}
.bannerNav .bannerMore{
    position: absolute;
    left: 190px;
    top: 0;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    transition: top .25s ease;
    z-index: 10;
    display: none;
}
.cate-part{
    padding: 20px 0 10px;
}
.cate-part-col1{
    float: left;
    width: 800px;
}
.cate-channel{
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
}
.cate-channel .cate-channel-lk{
    display: block;
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #6e6568;
    line-height: 24px;
    color: #fff;
    font-size: 12px
}
.cate-detail{
    overflow: hidden;
    padding: 10px 0 0 20px;
}
.cate-detail .cate_detail_item{
    position: relative;
    padding-left: 80px;
}
.cate-detail .cate_detail_item .cate_detail_tit{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cate-detail .cate_detail_item .cate_detail_tit .titc{
    color: #666;
    text-decoration: none;
    font-size: 12px
}
.cate-detail .cate_detail_item .cate_detail_con{
    overflow: hidden;
    padding: 6px 0;

}
.cate-detail .cate_detail_item .contop{
        border-top: none!important;
}
.cate-detail .cate_detail_item .cate_detail_con .cate_detail_con_lk{
    float: left;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
    color: #666;
    font-size: 12px
}
.cate-detail .cate_detail_item .cate_detail_con .cate_detail_con_lk:hover{
    color: #c81623;
}
.cate-detail .cate_detail_item .cate_detail_con{
    overflow: hidden;
    padding: 6px 0;
    border-top: 1px solid #eee;
}
.cate-part-col2{
    float: left;
    width: 198px;
}
.cate-brand{
    margin: auto;
    width: 168px;
    font-size: 0;
}
.cate-brand-lk{
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
    line-height: 0;
}
.cate-brand-lk img{
    border: 0;
    vertical-align: middle;
}
.cate-promotion{
    margin: 10px auto 0;
    width: 168px;
}
.cate-promotion-lk{
    display: block;
    margin-bottom: 1px;
    height: 134px;
    background-color: #e7e7e7;
}
.cate-promotion-lk img{
    border: 0;
    vertical-align: middle;
}
.bannerMain{
	overflow: hidden;
	float:left;
}
.bannerMain-top{
    width: 100%;
	height: 340px;
	margin-bottom: 10px;
    position: relative;


}
.bannerMain-top .banner{
    width: 100%;
    height: 100%;
    position: relative;
} 
.bannerMain-top .banner li{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}
.bannerMain-top .banner li.active{
    opacity: 1;
    z-index: 2;
}
.bannerMain-top a{
	display: block;
	overflow: hidden;
}
.bannerMain-top a img{
	display: block;
}
.bannerMain-top .lunbodian{
    position: absolute;
    bottom:20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 166px;
    height: 12px;
    /*background: blue;*/
    padding: 4px 8px;
    z-index:2;
    border-radius: 12px;
    background-color: hsla(0,0%,100%,.3);

}
.bannerMain-top .lunbodian li{
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    margin-top:-2px;

}
.bannerMain-top .lunbodian li.active{
    background-color: #f10124;
}
.bannerMain-top .lunbodian .lbd:last-child{
    margin-right: 0;
}
.bannerMain-top .huadong{
    display:block;
    position: absolute;
    color:#fff;
    top: 43%;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,0.1);
    line-height: 60px;
    text-align: center;
    z-index: 2;

}
.bannerMain-top .zuohuadong{
    left: 0;
}
.bannerMain-top .youhuadong{
    right: 0;
}
.bannerMain-bottom{
	height: 130px;
	margin-left: -10px;
}
.bannerMain-bottoml{
	overflow: hidden;
    float: left;
    margin-left: 10px;
    width: 390px;
    height: 130px;
}

.bannerRight{
	float: left;
	margin-left: 10px;
	width: 190px;
	height: 100%;
	background-color: #fff;
}
.user{
    padding: 0 10px;
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}
.user-info{
	padding: 15px 0 15px 60px;
    height: 45px;
}
.touxiang{
	position: absolute;
    margin-left: -60px;
    width: 45px;
    height: 45px;
}
.touxiang img{
	display: block;
	 height: 100%;
    border-radius: 23px;
}
.userlogin p{
	overflow: hidden;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.userlogin p a{
	margin-right: 5px;
    color: #000;

}
.fuli{
	height: 24px;
}
.fuli a{
    display: inline-block;
    margin-right: 9px;
    width: 70px;
    height: 20px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222
}
.fuli a:hover{
    background-color: #e01222;
    color: #fff;
}
.news{
	padding: 0 15px;
    height: 154px;
}
.newshd{
	padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 14px;
    position: relative;
}
.newshd .news_tab_active{
    position: absolute;
    bottom: -1px;
    left: -2px;
    width: 28px;
    height: 2px;
    background: #db192b;
}
.newshd .mod_tab_head_item{
	color: #333;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #dfe0e1;

}
.newshd .news-first{
    padding-left: 0;
}
.newshd .news-last{
    padding-right: 0;
    border-right: 0;
}
.newshd a:nth-child(2){
	color: #333;
	padding-left: 12px;
}
.newshd .news_more{
	display: block;
	float: right;
}
.newsneir{
	padding: 12px 0;
}
.newsneir .news2{
    display: none;
}
.newsneir ul li{
	line-height: 24px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.newsneir ul li a{
	color:#666;
}
.service{
	height: 210px;
	overflow: hidden;
}
.service ul{
	margin-left: -1px;
    width: 192px;
    height: 210px;
    overflow: hidden;
}
.service ul li{
	position: relative;
    overflow: hidden;
    float: left;
    width: 47px;
    height: 55px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
     padding-top:14px;
    text-align: center;
}

.service ul li a{
    color: #666;

}
.service ul li a:hover{
    color:#c81623;
}
.service ul li a i{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/bianjie.png) no-repeat;
    background-position:0 -68px; 
    background-size:126px 118px;
    margin: 0 auto;
}
.service ul li:nth-child(2) a i{
     background: url(../img/bianjie.png) no-repeat;
    background-position:0 -34px; 
    background-size:126px 118px;
}
.service ul li:nth-child(3) a i{
     background: url(../img/bianjie.png) no-repeat;
    background-position:-34px -67px; 
    background-size:126px 118px;
}
.service ul li:nth-child(4) a i{
    background-position: -68px 0;
}
.service ul li:nth-child(5) a i{
    background-position: -68px -34px;
}
.service ul li:nth-child(6) a i{
    background-position: 0 0;
}
.service ul li:nth-child(7) a i{
    background-position: -34px -35px;
}
.service ul li:nth-child(8) a i{
    background-position: -69px -69px;
}
.service ul li:nth-child(9) a i{
    background-position: -102px 0;
}
.service ul li:nth-child(10) a i{
    background-position: -132px -44px;
}
.service ul li:nth-child(10) a i{
    background-position: -100px -34px;
}
.service ul li:nth-child(11) a i{
    background-position: -103px -66px;
}
.service ul li:nth-child(12) a i{
    background-position: -35px 0;
}
.service ul li a span{
  height: 22px;
    line-height: 22px;
    border-top: 2px solid #fff;
}

.miaosha_header_you{
    float: right;
    color: #fff;
}
.miaosha_header_you_z1{
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
}
.miaoshashijian{
    float: left;
    margin-left: 6px;
    margin-right: 8px;
}
.miaoshashijian_box{
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.miaoshashijian_dian{
    float: left;
    margin: 22px 4px 0;
    width: 4px;
    height: 12px;
    font-size: 0;
    line-height: 0;
}
.mssj_dian1{
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #440106;
    margin-bottom: 4px;
}
.mssj_dian2{
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #440106;
}



.jdms{
    margin-bottom: 30px;
    height: 305px;

}
.msBox{
   padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    background: url(../img/jdms.png) no-repeat; 
}
.mscol1{
    float: left;
}
.mscol1 i:first-child{
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    background: url(../img/msjiaobiao.png) no-repeat;
    background-position: -116px -80px;
    background-size: 170px 158px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;

}
.mscol1 i:nth-child(2){
    display: block;
    background-image: url(../img/msjiaobiao.png);
    background-position: 0 -30px;
    background-size: 170px 158px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    margin-top:8px;
    margin-right: 8px;
    float: left;
}
.mscol1 i:nth-child(3){
    font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
    float: left;
}
.mscol1 a{
    float: left;
    margin-left: 12px;
    margin-top: 19px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.mscol2{
    width: 269px;
    height: 55px;
    float: right;
}
.mscol2 span{
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;

}
.shike{
    width: 129px;
    height: 47px;
    margin-left: 6px;
    margin-right: 8px;
    float: left;
}
.hour{
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    border-radius:3px;
    color:#f90013;
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    line-height: 37px;
    font-size: 24px;
}
.dian{
    width: 4px;
    height: 12px;
    margin: 0 4px;
    margin-top: 22px;
    float: left;
}
.dian i{
    margin-bottom: 4px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #440106;
}
.msneirong{
    padding: 12px 0 13px;
    height: 225px;
    overflow: hidden;
    background-color: #fff;
}
.msneirongl{
    width: 1000px;
    float: left;
    position: relative;
    overflow: hidden;
}
.msneirongl:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
}
.msneirongl .mslist{
    width: 2000px;
}
.msneirongl .mslist:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear:both;
}
.msneirongl .mslist li{
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
    /*background: #fff;*/

}
.msneirongl .mslist li .msnr1{
    text-align: center;
    position: relative;

}
.biaoqian{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 40px;
    background: url(../img/msjiaobiao.png) no-repeat;
    background-position: 0 -80px;
    background-size: 170px 158px;
}
.biaoqian span{
    font-size: 12px;
    color: #fff;
    line-height: 33px;
}   
.msnr1 a{
    display: block;
    margin: 0 auto;
}
.msnr1 a img{
    display: block;
    width: 130px;
    height: 130px;
    margin: 17px auto;
    transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;
}
.msnr1 a img:hover{
    transform: translateY(-5px);
}
.msnr1 p{
    color: #999;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all; 
    overflow: hidden;
}
.msnr1 .shadow{
    position: absolute;
    left: 0;
    top: 114px;
    width: 170px;
    height: 20px;
    background: url(../img/msjiaobiao.png) no-repeat;
    background-position: 0 0;
    background-size: 170px 158px;
}
.msprice{
    padding: 3px 0;
    height: 25px;
}
.msprice span{
    width: 70px;
    height: 25px;
    margin-right: 8px;
    color: #f10124;
    font-size: 18px;
}
.msprice span i:first-child{
    font-size: 12px;
}
.msprice span i:last-child{
    font-weight: 700;
}
.msprice .del{
    width: 48px;
    height: 17px;
    color: #999;
}
.msprice .del i:first-child{
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.msprice .del i:last-child{
    font-size: 12px;
    font-weight: 400;
     text-decoration: line-through;
     margin-left: -6px;
}
.zycontrol{
    display: none;
}
.msneirongl:hover .zycontrol{
    display: block;
}
.zycontrol .sk_controls_item{
   position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 50px;
    background: rgba(0,0,0,.1);
    line-height: 50px;
    text-align: center; 
}
.zycontrol .sk_control_pre{
    left:7px;
}
.zycontrol .sk_control_next{
    right:7px;
}
.msneirongr{
    margin: 0 10px 0 0;
    float: right;
    background: #fff;
}
.msneirongr a{
    display: block;
}
.msneirongr a img{
    width: 180px;
    height: 225px;
}
.faxian{
    height: 444px;
    margin-bottom: 30px;
}
.faxBox{
    width: 390px;
    height: 444px;
    float: left;
    margin-right: 10px;
}
.fxtop{
    width: 340px;
    height: 55px;
    padding: 0 20px 0 30px;
    background: #4998a1;
    position: relative;
    color: #fff;
}
.fxtop span{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -1px;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}
.fxtop .ftopimg{
    display: block;
    position: absolute;
    left: -7px;
    top: -7px;
    background: url(../img/msjiaobiao.png) no-repeat;
    background-position: 3px -127px;
    background-size: 190px 158px;
    width: 28px;
    height: 28px;
}
.fxtop .fxbt{
    font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding-top: 9px;
    float: left;

}
.fxtop a{
    display: block;
    height: 24px;
    line-height: 24px;
    font-size:12px;
    margin-top:19px;
    float: right;
    color: #fff;
    padding-right: 20px;
    position: relative;
}
.more{
    background: url(../img/msjiaobiao.png) no-repeat;
    background-position: -76px -130px;
    background-size: 170px 158px;
    width: 15px;
    height: 16px;
    position: absolute;
    top:3px;
    right: 0;
}
.fxbottom{
    width: 370px;
    height: 369px;
    padding: 10px;
    background-color: #fff;
}
.fxbottom ul{
    width: 370px;
    height: 363px;
    overflow: hidden;
}
.fxbottom ul li{
  /*  width: 185px;
    height: 120px;*/
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-right: 1px;
  
}
.fxbottom ul li:nth-child(2n){
    margin-right: 0;
    border-right: none;
}
.fxbottom ul li a{
    display: block;
      position: relative;
}
.fxbottom ul .qingchu{
    border-bottom: 0;
}
.fxbottom ul li a p{
    font-size: 14px;
    color: #4998a1;
    width: 80px;
    word-wrap:break-word;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 20px;
}
.fxbottom ul li img{
    display: block;
    width: 80px;
    height: 80px;
    float: right;
    margin-left: 103px;
    margin-top: -15px;
    transition: transform .4s ease-out,-webkit-transform .4s ease-out,-moz-transform .4s ease-out;
}
.fxbottom ul li img:hover{
    transform: translateX(-5px);
}
.pinpaitop{
    background-color: #7d2e5c;
}
.ppj{
    display: block;
    position: absolute;
    left: -7px;
    top: -7px;
    background-image: url(../img/msjiaobiao.png);
    background-position: -35px -126px;
    background-size: 170px 158px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px
    
}
.pinpaibottom{
    padding: 10px;
    height: 369px;
    background-color: #fff;
}
.pptop{
    margin-bottom: 12px;
    height: 227px;
    overflow: hidden;
}
.pptopl{
    float: left;
    width: 185px;
}
.pptopl a{
    display: block;
    padding: 15px 22px 10px 23px;
    border-right: 1px solid #e7e7e7;
}
.brand_rec_name{
    font-size: 16px;
    color: #8b3a6d;
    margin-bottom: 5px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
}
.brand_rec_desc{
    color: #666;
    height: 36px;
    margin-bottom: 8px;
    overflow: hidden;
}
.brand_rec_split{
    width: 19px;
    height: 3px;
    background: #8b3a6d;
    margin-bottom: 12px;
}
.ppimg img{
    display: block;
    width: 140px;
    height: 120px;
}
.pptop .clear{
    border-right:0;
}
.ppbottom a{
    display: block;
}
.ppbottom a img{
    display: block;
    width: 370px;
    height: 130px;
}
.paihangbang{
    background-color: #e77005;
}
.clear1{
    margin-right: 0;
}
.phb{
    display: block;
    position: absolute;
    left: -7px;
    top: -7px;
    background-image: url(../img/msjiaobiao.png);
    background-position: -101px -92px;
    background-size: 216px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}
.phbbottom{
    height: 389px;
    background-color: #fff;
}
.phbbtom-top{
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 18px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.phbbtom-top .phbitem{
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 77px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}
.phbbtom-top .phbitem:first-child{
    margin-left: -10px;
}
.xiahuaxian{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58px;
    height: 2px;
    background: #f10214;
}
.phbbtom-bt ul li a:hover {
    color: #c81623;
}
.phbbtom-top .phbitem:hover {
    color: #c81623;
}
.phbbtom-bt{
    padding: 10px;
    height: 335px;
    overflow: hidden;
}
.phbbtom-bt ul{
    height: 100%;
}
.phbbtom-bt ul li{
    position: relative;
    float: left;
    width: 123px;
    text-align: center;
}
.phbbtom-bt ul li a{
    display: block;
    padding: 12px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    color: #666;
}
/*.phbbtom-bt ul li:nth-child(3) a{
    border-right: 0;
}*/
.phbbtom-bt ul li .qingchu1{
    border-right: 0;
}
.phbbtom-bt ul li .qingchu{
    border-bottom:0;
}
.bq1{
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background-image: url(../img/phbjb.png);
    background-position: -104px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}
.phimg{
    margin-bottom: 10px;
}
.phimg img{
    width: 100px;
    height: 100px;
}
.phbbtom-bt ul li a p{
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.bq2{
     background-image: url(../img/phbjb.png);
    background-position: -50px -100px;
    background-size: 218px 188px;
}
.bq3{

    background-image: url(../img/phbjb.png);
    background-position: -55px -38px;
    background-size: 218px 188px;
}
.bq4{
    background-image: url(../img/phbjb.png);
    background-position: -100px -100px;
    background-size: 218px 188px;
}
.qiangquan{
    margin-bottom: 30px;
    height: 215px;
}
.quan{
    float: left;
    width: 190px;
    height: 215px;
    background-color: #ea3524;
}
.quan a{
    display: block;
    padding: 25px;
    width: 140px;
    height: 165px;
    color: #fff;
}
.quan a h3{
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-family: fzzhengheis-el-gbregular;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}
.quan a span{
    display: block;
    width: 55px;
    height: 3px;
    margin-top:8px;
    margin-bottom: 20px;
    background-color: #fff;
}
.quan a p{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.quan a .Morebtn{
    display: block;
    width: 86px;
    position: relative;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 20px;
    border: 2px solid #fff;
    line-height: 20px;
    overflow: hidden;
    background: #ea3524;
}
.quan a i{
    display: block;
    position: absolute;
    top:5px;
    right: 15px;
    width: 15px;
    height: 16px;
    background: url(../img/phbjb.png) no-repeat;
    background-position: -136px -38px;
    background-size: 194px 178px; 
}
.huodong{
    width: 1000px;
    height: 100%;
    float: right;
    background: #fff;

}
.huodong ul{
    padding: 10px 0;
    overflow: hidden;
}
.huodong ul li{
    position: relative;
    float: left;
    width: 199px;
    height: 195px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
}
.huodong ul li a{
    display: block;
}
.huodong ul li a .hdnr{
    position: absolute;
    left: 15px;
    top:15px;
    width: 100px;
    border-top: 3px solid #e93524;
    background-color: #fff;
    z-index: 1;
}
.hdnr p{
    height: 36px;
    margin-top: 7px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
    color: #f10214;
}
.hdnr p i{
    font-size: 12px;
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
}
.hdnr p:nth-child(2){
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
    font-size: 12px;
    font-weight: normal;
}
.hdnr p:nth-child(3){
    padding: 15px 10px;
    width: 80px;
    height: 36px;
    background-color: #e7e7e7;
    background-image: url(../img/quxian.jpg);
    background-repeat: repeat-x;
     font-size: 12px;
     line-height: 18px;
     color:#666;
}
.hdnr p:nth-child(4){
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
     font-size: 12px;
     color:#fff;
     margin-top: 0;

}
.huodong ul li a img{
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.huodong ul li:hover img{
    transform:translateX(15px); 
}
.guanggao{
    height: 100px;
    margin-bottom: 30px;
    background-color: #e0e0e0;
}
.gg ul{
    overflow: hidden;
    height: 100px;
}
.gg ul li{
    overflow: hidden;
    float: left;
    width: 396px;
    height: 100%;
}
.gg ul li a{
    display: block;
}
.gg ul li a:hover{
    opacity: .8;
}
.gg ul li a img{
    transition: opacity .2s;
}
.pinzhi{
    height: 585px;
    margin-bottom: 30px;
}
.pinzhihd{
    padding-bottom: 20px;
    height: 35px;
    background-image:url(../img/xpzbj.png);
    background-repeat: repeat-x;
    background-position: 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.pinzhihd h3{
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
}
.pzneirong .pzlist{
    overflow: hidden;
    margin-left: -10px;
    width: 1200px;
    height: 530px;
}
.pzneirong .pzlist .entry_item{
    float: right;
    width: 390px;
    height: 350px;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    margin: 0 0 10px 10px;
    background-color: #fff;
}
.pzneirong .pzlist .entry_item .zb1{
     height: 350px;
    width: 390px;
    float: right;
    margin: 0 0 10px 10px;
    color: #fff;
    font-size: 12px;
    position: relative;
}
/*.pzneirong ul .pzitem{
    float: left;
    height: 350px;
    color: #fff;
    font-size: 12px; 

}*/
.pzneirong .pzlist li .zb{
    width: 100%;
    height: 350px;
    background-color: #333;


}
.jdzb{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background: rgba(0,0,0,.57);
    z-index: 10;

}
.jdzb a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #fff;
}
.jdzb a h4{
    line-height: 38px;
    text-indent: 24px;
    font-size: 16px;
    font-weight: 300;
}
.jdzb a span{
    position: absolute;
    right: 20px;
    top: 0;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding-right: 24px;
}
.jdzb a span i{
    position: absolute;
    right: 0;
    top: 11px;
    background-image: url(../img/gengduo.png);
    background-position: -201px -128px;
    background-size: 232px 170px;
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
}
.pzneirong .pzlist .entry_item .zbBox{

    width: 390px;
    height: 100%;
    overflow: hidden;
}
.pzneirong .pzlist .entry_item .zbBox .live-list li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s;
}
.pzneirong .pzlist .entry_item .zbBox .live-list li.active{
    z-index: 2;
}
.pzneirong .pzlist .entry_item .zbBox .live-list li .live-cover{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pzneirong .pzlist .entry_item .zbBox .live-list li .live-cover .live-img{
    height: 350px;
    margin-left: -38px;
}
/*.pzneirong ul li .zbBox .live-list .live-item .live-cover:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.png) repeat-x 0 100%;
}*/
.pzneirong ul li .zbBox img{
    display: block;
    height: 350px;
    margin-left: -38px;

}
.pzneirong ul li .zhezhao{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .37;
}
.pzneirong ul li .zbinfo{
    position: absolute;
    top: 260px;
    width: 100%;
    text-align: center;
}
.pzneirong ul li .zbinfo h5{
    font-size: 16px;
    line-height: 26px;
}
.pzneirong ul li .zbinfo p{
   font-size: 14px;
   line-height: 24px; 
}
.pzneirong ul li .zbinfo h5 i{

    display: inline-block;
    position: relative;
    top: 5px;
    background-image: url(../img/gengduo.png);
    background-position: -205px -52px;
    background-size: 237px 170px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 4px;
} 
.pzneirong ul li .zb .end{
    position: absolute;
    left: 0;
    top: 325px;
    width: 100%;
    text-align: center;
    line-height: 8px;
    z-index: 2;
}
.pzneirong ul li .zb .end span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    margin: 0 4px;
    border-radius: 4px;
    line-height: 8px;
}
.pzneirong ul li .zb .end span.active{
    background: red;
}
.pzneirong ul li .zb .zuohua{
    position: absolute;
    /*left: 0;*/
    top: 145px;
    background: rgba(0,0,0,.42);
    width: 20px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    z-index: 2;
}
.pzneirong ul li .zb .youhua{
    right: 0;
}
.pzneirong ul li .zb .bofang{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -33px;
    background-image: url(../img/gengduo.png);
    background-position: 0 -105px;
    background-size: 237px 170px;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    z-index: 2;
}
.pzneirong ul .pzitem{
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
    width: 390px;
    height: 170px;
}
.pzneirong ul .pzitem a{
    display: block;
}
.pzneirong ul .pzitem a .shuoming{
    position: absolute;
    top: 0;
    left: 0;
    width: 36%;
    height: 100%;
    color: #fff;
    background: #59b07d;
    opacity: 0.9;
    z-index: 1;
}
.pzneirong ul .pzitem a .shuoming .sm{
    padding-top: 45px;
    width: 100px;
    font-size: 14px;
    margin: 0 auto;
}
.entry_info_tit{
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    font-family: fzzhengheis-el-gbregular;
    font-weight: 400;
}
.entry_info_desc{
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
    font-size: 13px;

}
.pzitem a img{
    display: block;
    width: 400px;
    height: 170px;
    transition: transform .3s ease-in,-webkit-transform .3s ease-in,-moz-transform .3s ease-in;
}
.pzneirong ul .pzitem a:hover img{
      transform: translateX(-10px);
}
.pzneirong ul .pzitem a .shuoming2{
    background: #d9cc62;
}
.pzneirong ul .pzitem a .shuoming3{
    background: #d58717;
}
.pzneirong ul .pzitem a .shuoming4{
    background: #7e5944;
}
.pzneirong ul .pzitem a .shuoming5{
    background: #534b5d;
}

.pzneirong ul .pzitem a .shuoming6{
    background: #534b5d;
}
.pzneirong ul .pzitem1{
    width: 190px;
    height: 170px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
}
.pzneirong ul .pzitem1 a{
    display: block;
}
.pzneirong ul .pzitem1 a .dbsm{
    background: #642663;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    z-index: 1;
}
.pzneirong ul .pzitem1 a .dbsm .dbsmBox{
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
    font-size: 14px;
}
.pzneirong ul .pzitem1 a .dbsm .dbsmBox .entry_info_tit{
    font-size: 16px;
    line-height: 34px;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    font-family: fzzhengheis-el-gbregular;
    font-weight: 400;
    color: #fff;
}
.pzneirong ul .pzitem1 a .dbsm .dbsmBox .entry_info_desc{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
    color: #fff;
}
.pzneirong ul .pzitem1 a img{
    display: block;
    width: 200px;
    height: 170px;
    transition: transform .3s ease-in,-webkit-transform .3s ease-in,-moz-transform .3s ease-in;
}
.pzneirong ul .pzitem1 a:hover img{
    transform: translateX(-10px);
}
.pzneirong ul .pzitem1 a .dbsm .dbsmBox1{
    background: #a93931;
}
.aishenghuo{
    height: 578px;
    margin-bottom: 30px;
}
.ashtit{
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url(../img/dd.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.ashtit h3{
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
}
.ashNeirong{
    margin: 0 auto;
    width: 1190px;
}
.ashNeirong .shLeft{
    float: left;
    width: 590px;
    margin-right: 10px;
    overflow: hidden;
}
.shLeft-tit{
    background-color: #974676;
    height: 26px;
    padding: 16px 20px 16px 25px;
}
.pt_tit{
    display: block;
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family: fzzhengheis-el-gbregular;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tb{
    width: 20px;
    height: 20px;
    background: url(../img/sh1.png);
    float: left;
   margin-top: 5px;
   margin-left: 15px; 
}
.shNav{
    float: right;
    height: 28px;
    text-align: right;
    overflow: hidden;
}
.shNav a{
    
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #c187af;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shNav a:hover{
     border-color:  #fff;
}
.shLeft-nr{
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.shLeft-nr .shlnrBox{
    position: relative;
    overflow: hidden;
}
.fmt{
    float: left;
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.fmt a{
    display: block;
}
.fmt a img{
    display: block;
    width: 193px;
    height: 260px;
    transition: transform .2s,-webkit-transform .2s,-moz-transform .2s;
}
.fmt a:hover img{
    transform: translateX(-10px);
}
.shImgList{
    float: left;
    width: 376px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.shImgList span{
    display: block;
    position: absolute;
    top:130px;
    left: 0;
    width: 500px;
    height: 1px;
    background-color: #e6e6e6;
}
.shImgList span:nth-child(2){
    display: block;
    position: absolute;
    top: 0;
    left: 188px;
    width: 1px;
    height: 500px;
    background-color: #e6e6e6;
}
.shImgList a{
    position: relative;
    float: left;
    width: 188px;
    height: 130px;
}
.shImgList a .pt_bi_tit{
    color: #974676;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.shImgList a .pt_bi_promo{
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.shImgList a img{
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.shImgList a:hover img{
    transform: translateX(-5px);
}
.shLeft-nr .shlnrBox .dbgg{
    clear: both;
    height: 130px;
    overflow: hidden;
    padding-top: 10px;
}
.shLeft-nr .shlnrBox .dbgg a{
    display: block;
    float: left;
    width: 183px;
    height: 130px;
    overflow: hidden;
    margin-right: 10px;
}
.shLeft-nr .shlnrBox .dbgg a:last-child{
    margin-right: 0;
}
.shLeft-nr .shlnrBox .dbgg a img{
    display: block;
    overflow: hidden;
    width: 193px;
    height: 130px;
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s;
}
.shLeft-nr .shlnrBox .dbgg a:hover img{
        transform: translateX(-10px);
}
.shLeft-nr .shlnrBox .shlogo{
    position: relative;
    padding-left: 1px;
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.shLeft-nr .shlnrBox .shlogo ul li{
    float: left;
    border-right: 1px solid #dedfe0;
    padding: 0 12px;
    height: 20px;
    margin-top: 13px;
}
.shLeft-nr .shlnrBox .shlogo ul li:last-child{
    border-right: 0;
}
.shLeft-nr .shlnrBox .shlogo ul li a{
    display: block;
}
.shLeft-nr .shlnrBox .shlogo ul li a img{
    display: block;
    width: 70px;
    height: 35px;
    margin-top: -7px;
}
.ashNeirong .shRight{
    float: right;
    margin-right: 0;
}
.tit2{
    background: #cd375e;
}
.shImgList a .pt_bi_tit2{
    color: #cd375e;
}
.gdsp{
   margin-bottom: 30px;
}
.gdBox{
    overflow: hidden;
}
.gdtitle{
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url(../img/dd.png) repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.gdtitle h3{
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
}
.gdnr{
    margin: 0 auto;
    width: 1190px;
}
.gdnr ul{
    margin-left: -10px;
}
.gdnr ul li{
    float: left;
    margin: 0 0 10px 10px;
}
.gdnr ul li a{
    display: block;
    padding: 4px;
    width: 220px;
    height: 305px;
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.gdnr ul li a img{
    display: inline-block;
    width: auto;
    height: 220px;
}
.gdnr ul li a .info{
    padding: 10px;
    text-align: left;
}
.more_info_name{
    overflow: hidden;
    margin-bottom: 5px;
    height: 36px;
    color: #666;
}
.price{
    font-size: 12px;
    color: #f10214;
    text-align: left;
}
.gdnr ul li a:hover{
    border-color: #f10214;
}
footer{
    height: 500px;
    background-color: #eaeaea;
}
.modserive{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.modserive ul{
    overflow: hidden;
    height: 42px;
}
.modserive ul li{
    float: left;
    width: 297px;
}
.unit{
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.duo{
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url(../img/dibu.png);
    background-repeat: no-repeat;
    background-position: 0 0;

}
.mod_service_txt{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.kuai{
    background-image: url(../img/dibu.png);
    background-position: 0 -43px;
}
.hao{
    background-position: 0 -86px;
}
.sheng{
    background-position: 0 -129px;
}
.mod-help{
    padding: 20px 0;
}
.helplist{
    overflow: hidden;
    height: 160px;
}
.helplist dl{
    float: left;
    width: 198px;
    line-height: 22px;
}
.helplist dl dt{
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}
.helplist dl dd:hover{
    color: #c81623;
}
.mob-help-cover{
    float: right;
    width: 200px;
    height: 150px;
    background: url(../img/ico_footer.png) no-repeat 0 0;
}
.mod_help_cover_tit {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod-help-nr{
    padding: 0 10px;
}
.more1{
    text-align: right;
}
.mod-help-nr p a{
    color: #666;
}
.mod-help-nr p .jiantou{
    font-size: 10px;
}
.copyright{
    height: 194px;
}
.copynr{
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
.copynr p{
    display: block;
    text-align: center;
}
.copynr p a{
    color: #666;
}
.copynr p a:hover{
    color: #c81623;
}
.copynr p span{
    margin: 0 10px;
    color: #ccc;
}
.mod-info{
    padding: 10px 0;
    line-height: 22px;
    color: #999;
    text-align: center;


}
.mod-info p a{
    color: #999;

}
.mod-info p .fgx{
    margin: 0 10px;
    color: #ccc;
    line-height: 22px;
}
.mod-info .mod-xinxi .mod-info1{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: 0 -151px;
    line-height: 1000px;
}
.mod-info .mod-xinxi .info2s{
    background-image: url(../img/ico_footer.png);
    background-position: -104px -151px;
}
.mod-info .mod-xinxi .info3{
    background-position: 0 -184px;
}
.mod-info .mod-xinxi .info4{
            background-position: -104px -184px;
}
.mod-info .mod-xinxi .info5{
      background-position: 0 -217px;
}
.mod-info .mod-xinxi .info6{
    background-position: -104px -217px;
}
.hei {
    position: fixed;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #7a6e6e;
    z-index: 1000;
}
.jingdong_you{
    position:fixed;
    top: 50%;
    right: 6px;
    width: 35px;
    margin-top: -61px;
    z-index: 50;
}
.jingdong_you2{
    position: fixed;
    bottom: 5px;
    width: 35px;
    right: 6px;
    z-index: 50;
}
.you_box{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    z-index: 5;
    
    border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.ybt:hover{
    background-color: #c81623;
}
.ybt{
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 5;
     background-image: url(../img/toolbars.png);
    background-repeat: no-repeat;
    background-color: #7a6e6e;
}
.ybt1{  
    background-position: -88px -175px;
}
.ybt2{  
    background-position: -50px 0;
}
.ybt3{  
    background-position: -50px -50px;
}
.ybt4{  
    background-position: -50px -100px;
}
.ybt5{  
    background-position: -190px -150px
}
.ybt6{  
    background-position: -50px -150px;
}
.ybt7{  
    background-position: -50px -250px;
}
.ybt8{  
    background-position: -50px -300px;
}
.xhq{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background-position: -150px -150px;
    z-index: 5;
    background-color: red;
    border-radius: 50%;
}
.kaizhan{
    /*display: none;*/
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    font-size: 12px;
    z-index: 0;
    left: 35px;
    top: 0px;
    background-color: rgb(122, 110, 110);
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
}
.you_box:hover .kaizhan{
    background: #c81623;
    left: -60px;
}
nav{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 50px;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    top: 0;
    box-sizing:border-box;
}
.dingbu{
    width: 1190px;
    background-color: transparent;
    height: 50px;
    margin: 0 auto;
    border: none;
    overflow: hidden;
}
.dbtm{
    float: left;
    overflow: hidden;
    display: block;
    width: 125px;
    height: 40px;
    background-image: url(../img/logo_s.v2.png);
}
.sousuo1{
    width: 640px!important;
    opacity: 1; 
    color: rgb(153, 153, 153);
    z-index: 2;
    height: 32px;
    line-height: 32px;
    padding: 5px 3px 5px 5px;
    font-weight: 900;   
    font-size: 14px;
    float: left;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: .15s,box-shadow ;
    box-sizing:border-box;
    margin-left: 60px;
    margin-top: 8px;
    border:none;
    background-color: #efefef;
    outline: transparent dotted 0;
}
.ss{
    margin-top: 8px;
    display: block;
    float: left;

    height: 32px;
    padding: 4px 15px;
    line-height: 20px;
    cursor: pointer;
    width: 90px;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #f10215;
}
.jingdong_zuo{
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    left: 50%;
    top: 89px;
    display: block;
    margin-left: -655px;
}
.zuo_box{
    border-top: 1px solid #b1aaaa;
    transition: background-color 0.1s;
    overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    background-color: #918888;
}
.zuob1{
    border-top:none;
    background-color: #d70b1c;
}
.zuob2{
    border-top: 1px solid #b1aaaa;
    transition: background-color 0.1s;
    overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    background-color: #5e4a4a;
}
.zuo_box:hover{
    border-color: #d70b1c;
    background-color: #d70b1c!important;
}
.jitou{
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #5e4a4a #5e4a4a #fff;
}
