h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,form,input,textarea,pre,figure,body{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:0;
}
i,u,del,b{
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
}
body{
	    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
		color:#333;
}