.wtnr{
	width: 100%;
    padding: 0.1rem 0.24rem 0;
    background: #f5f6fa;
    box-sizing:border-box;
}
.wt{
	width: 100%;
    background-color: #ffffff;
    margin-top: 0.2rem;
    padding: 0.1rem 0.24rem 0;
    box-sizing:border-box;
}
/*.hot-box{

}*/
.hot{
	width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    /* padding-right: 0.2rem; */
    box-sizing: border-box;
    font-size: 0.24rem;
    position: relative;
}
.hot a{
    display: block;
    float: left;
}
.hot a .shu{
	width: 0.04rem;
    height: 0.2rem;
    background: #01b5ff;
    display: inline-block;
    float: left;
    margin-left: -0.4rem;
    margin-top: 0.06rem;
    overflow: hidden;
}
.hot a h2{
	display: block;
	width: 100%;
	font-size: 0.26rem;
    color: #333;
    margin-bottom: 0.14rem;
    font-weight: normal;
    float: left;
}

.hot a .yuan{
	display: inline-block;
	width: 0.25rem;
    height: 0.25rem;
    background: url(../img/yuan.png) no-repeat;
    margin-left: -0.23rem;
    margin-top: 0.06rem;
    overflow: hidden;
    float: left;
}
.hot a p{
	display: inline-block;
	color: #666;
    width: 100%;
    height: 65%;
   font-size: 0.2rem;
    background: transparent;
    margin-top: -0.02rem;
    line-height: 0.36rem;
    margin-left: 0;
    text-align: left;
    float: right;
    margin-top: -0.35rem;
}
.hot .xiangqing{
    color: #ff9300;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    background: #fff;
    /* float: left; */
    line-height: 0;
    font-size: 0.27rem;
    margin: 0.3rem auto;
}
.line{
    width: 100%;
    height: 0;
    float: left;
    border-bottom: 1px solid #b8b8b8;
}